* {
  margin: 0;
  padding: 0;
}

.skillContainer {
  background-image: url("../../public/assets/banner-2.png");
  border: 0;

  background-repeat: no-repeat;
  background-size: cover;
  font-family: poppins;
  font-size: 25px;
  color: white;
}
.cont {
  display: flex;
  padding-inline: 10%;
  gap: 5%;
}
#skillhead {
  display: flex;
  justify-content: center;
  padding: 30px 0px 30px 0px;
  font-size: 45px;
  font-weight: 700;
}

.mySkillContent {
  display: flex;
  /* padding-inline: 10%; */
  flex-direction: column;
  gap: 20%;
}
.mySkillContent p {
  font-size: 26px;
  font-weight: 400;
}
.skillList {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  /* margin-right: 30px; */
  margin-bottom: 30px;
}

.skillList ul {
  position: relative;
  margin-bottom: 5px;
}

.skillList ul span {
  position: absolute;
  right: 0;
}

#percentage-bar1 {
  width: 100%;
  height: 10px;
  text-align: right;
  background: linear-gradient(90deg, #29a9e8 95%, #f5f5f5 50%);
  border-radius: 4px;
  line-height: 20px;
  color: white;
  margin-bottom: 30px;
}

#percentage-bar2 {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #29a9e8 75%, #ffffff 50%);
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-bottom: 30px;
}

#percentage-bar3 {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #29a9e8 80%, #ffffff 20%);
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-bottom: 30px;
}

#percentage-bar4 {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #29a9e8 95%, #ffffff 5%);
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-bottom: 30px;
}

#percentage-bar5 {
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, #29a9e8 50%, #ffffff 50%);
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
  color: white;
  margin-bottom: 30px;
}

.downloadCv {
  display: flex;
}

.downloadCv button {
  font-size: 25px;
  display: flex;
  color: white;
  border: 3px white solid;
  background-color: transparent;
  border-radius: 50px;
  margin-top: 20px;

  padding-inline: 20px;
  padding-block: 10px;
  cursor: pointer;
}
.downloadCv button:hover {
  background-color: #0056b3;
}
.downloadCv button span {
  font-size: 25px;
}
@media (max-width: 968px) {
  .skillContainer {
    font-size: 20px;
  }

  .skillList {
    justify-content: space-evenly;
    font-size: 20px;
  }
  .downloadCv {
    justify-content: center;
  }

  .downloadCv button {
    margin: 20px;
    padding-inline: 12px;
    padding-block: 6px;
    font-size: 16px;
    width: auto;
  }

  .mySkillContent {
    gap: 10px;
    padding-inline: 5px;
  }
}
@media (max-width: 768px) {
  .skillContainer {
    font-size: 20px;
  }

  .skillList ul span {
    position: relative;
    right: auto;
  }

  .mySkillContent {
    padding-inline: 5%;
    gap: 10px;
  }
  .downloadCv {
    font-size: 16px;
  }
  .downloadCv button {
    margin: 10px;
    padding-inline: 7px;
    padding-block: 5px;
  }
}
@media (max-width: 520px) {
  .skillContainer {
    font-size: 20px;
    padding-bottom: 1rem;
  }
  .skillList {
    font-size: 15px;
  }
  .mySkillContent p {
    font-size: 15px;
  }
  #skillhead {
    font-size: 30px;
  }
}
@media (max-width: 520px) {
  .skillContainer {
    font-size: 15px;
  }
  .skillList {
    font-size: 15px;
  }
  .downloadCv button span {
    font-size: 15px;
  }
}
