* {
  margin: 0;
  padding: 0;
}
.blog-main-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  background-color: rgba(74, 69, 69, 1);
  color: white;
  /* padding-inline: 10%; */
  gap: 10px;
}
.blog-m-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  background-color: rgba(74, 69, 69, 1);
  color: white;
  padding-inline: 10%;
  gap: 10px;
}
.blog-posts a {
  color: white;
  text-decoration: none;
}

.blog-Cont-main {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(18, 12, 12, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid rgb(70, 63, 63);
  background-color: #5a5555;
}
.blog-Cont-main :hover {
  background-color: black;
}
.blog-main-container :hover {
  background-color: black;

  text-decoration: none;
}

.blog-posts {
  padding: 20px;
}

.blog-Image img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  height: 250px;
}

.blog-Title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 20px;

  margin-top: 10px;
  font-family: "Inter";
  font-weight: 800;
  margin-bottom: 20px;
}

.blog-content {
  margin-top: 10px;
}

.dateandauthor {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.date-published,
.author {
  font-size: 14px;
  color: rgba(241, 217, 217, 1);
}
#head-blog {
  background-color: rgba(74, 69, 69, 1);
  padding: 30px 0 20px 0;
}
#head-blog h3 {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 45px;
  font-weight: 700;
  font-family: Inter;
}
.Loadmore {
  display: flex;
  justify-content: center;
  background-color: rgba(74, 69, 69, 1);
  padding-bottom: 2rem;
}
.Loadmore a button {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  padding: 5px 20px 5px 20px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 29px;
  margin-top: 20px;
  font-weight: 400;
}
.Loadmore a :hover {
  background-color: rgba(164, 27, 27, 1);
}
.myBlog-head {
  display: flex;
  height: 50vh;
  background-image: url("../../public/assets/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: poppins;
  font-size: 45px;
  position: relative;
  border: 0;
  justify-content: center;
}
.myBlog-h h3 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 47px;
  font-family: "Inter";
  font-weight: 700;
}
.blog-desc {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter";
}
.Tags {
  margin-block: 20px;
}
@media (max-width: 768px) {
  .blog-Cont-main {
    width: 100%;
    margin-right: 0;
  }

  .Loadmore {
    display: flex;
    justify-content: center;
    background-color: rgba(74, 69, 69, 1);
  }
  .blog-main-container {
    padding-inline: 0;
  }

  .Loadmore a button {
    color: white;

    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    margin: 20px;
  }
}
@media (max-width: 550px) {
  .myBlog-h h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .pageContent {
    padding-inline: 5px;
  }
  .blog-Cont-main {
    margin-inline: 20px;
  }
  .blog-m-container {
    padding: 0;
  }
  .Loadmore a button {
    font-size: 15px;

    padding: 8px 15px 8px 15px;
  }
  .Loadmore button {
    padding: 5px 10px 5px 10px;
  }
  .Tags {
    margin-inline: 20px;
  }
  .iconsblogs {
    margin-block: 0;
  }
  #motivationalImage {
    margin-inline: 20px;
  }
  #head-blog h3 {
    font-size: 30px;
  }
  .myBlog-head {
    height: 200px;
  }
}
@media (min-width: 1700px) {
  .blog-m-container,
  .blog-main-container {
    justify-content: space-between;
    gap: 0;
  }
}
@media (min-width: 768px) and(max-width:1280px) {
  .blog-m-container,
  .blog-main-container {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1366px) {
  .blog-m-container,
  .blog-main-container {
    justify-content: space-between;
    gap: 0;
  }
}
