.blog-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(74, 69, 69, 1);
  color: white;
}
.blog-posts a {
  color: white;
  text-decoration: none;
}

.blog-Cont-main {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}
.blog-Cont-main :hover {
  background-color: black;
  color: white;
  text-decoration: none;
}

.blog-posts {
  padding: 20px;
}

.blog-Image img {
  max-width: 100%;
  height: auto;
}

.blog-Title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.blog-content {
  margin-top: 10px;
}

.dateandauthor {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.date-published,
.author {
  font-size: 14px;
  color: rgb(176, 170, 170);
}
#head-blog {
  background-color: rgba(74, 69, 69, 1);
  padding: 30px 0 20px 0;
}
#head-blog h3 {
  display: flex;
  justify-content: center;
  color: white;
}
.Loadmore {
  display: flex;
  justify-content: center;
  background-color: rgba(74, 69, 69, 1);
}
.Loadmore a button {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .blog-Cont-main {
    width: 100%;
    margin-right: 0;
  }

  .Loadmore {
    display: flex;
    justify-content: center;
    background-color: rgba(74, 69, 69, 1);
  }

  .Loadmore a button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
  }
}
