.popularCategory {
  background-color: #f5f5f5;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: rgba(74, 69, 69, 1);
  color: white;
}
.popularCategory h2 {
  padding-bottom: 20px;
}

.popul-post {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.popul-post a {
  text-decoration: none;
  color: white;
}
#posts {
  cursor: pointer;
  background-color: rgba(74, 69, 69, 1); /* Set the background color here */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.title-post {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-Popular img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}
