.popularCategory {
  background-color: #f5f5f5;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  background-color: rgba(74, 69, 69, 1);
  color: white;
}
.popularCategory h1 {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter";
}

.popul-post {
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
}
.popul-post a {
  text-decoration: none;
  color: white;
}
#posts {
  cursor: pointer;
  background-color: rgba(74, 69, 69, 1);
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  /* display: flex; */
}
.image-Popular {
  width: 50%;
  height: 100%;
}

.title-post {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-inline: 6px;
}
.title-p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "Inter";
  font-weight: 800;
  font-size: 14px;
}
.image-Popular img {
  width: 100px;
  height: 100%;
  display: flex;

  object-fit: cover;
}
#title-img {
  align-items: center;
  display: flex;
  gap: 10px;
}
@media (max-width: 850px) {
  #title-img {
    flex-direction: column;
  }
}
