.search-bar-container {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  padding-block: 20px;
  /* flex-wrap: wrap; */
}

.search-bar-container ::placeholder {
  color: white;
}

.search-results {
  color: white;
  text-align: left;
  width: 100%;
  max-width: 400px;
}

#search {
  background-color: gray;
  color: white;
  outline: none;
}

.search-input {
  width: 70%;
  max-width: 400px;
  padding: 10px;
  border: 0;
  /* border-radius: 5px; */
  margin-bottom: 10px;
}

#btn-search {
  color: white;
}

.search-button button {
  border: 0;
  background-color: maroon;
  padding: 10px 20px;
  /* border-radius: 5px; */
  cursor: pointer;
}

.search-button button:hover {
  background-color: maroon;
}

.search-button button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.search-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.search-image {
  max-width: 100%;
}

.search-result-link {
  color: #fbfbfb;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.search-result-link:hover {
  text-decoration: underline;
}

.searchImage {
  display: flex;
}

.searchImage img {
  width: 50%;
}
.hide-results-button {
  background-color: maroon;
  color: white;
  border: 1px white solid;
  padding: 5px 10px 5px 10px;
  margin: 20px 5px 20px 5px;
  cursor: pointer;
}
.hide-results-button:hover {
  background-color: rgba(164, 27, 27, 1);
}
.search-bar-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
@media (max-width: 550px) {
  .search-bar-container {
    /* width: 100%; */
    /* margin-inline: 20px; */
    justify-content: center;
    margin-inline: 20px;
  }
  #search {
    width: 100%;
  }
}
