.blogpage-single {
  display: flex;
  flex-direction: column;
}

.blogheadingcontainer {
  display: flex;
  height: 50vh;
  background-image: url("../../public/assets/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: poppins;
  font-size: 30px;
  position: relative;
  border: 0;
}
.blogheading {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#author-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
#author-name img {
  height: fit-content;
  padding: 5px 10px 5px 10px;
}
.date-author {
  display: flex;
  gap: 30px;
  margin-block: 30px;
  justify-content: center;
  font-size: 25px;
}
.date img {
  height: 30px;
  padding-right: 10px;
}
.blogheading h3 {
  padding-inline: 30px;
  display: flex;
  justify-content: center;
}
.shareButtons {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* position: absolute; */
  bottom: 40px;
}
#facebookShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px white solid;
}
#facebookShare img {
  height: 30px;
  margin-right: 10px;
}
#twitterShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding: 10px 20px 10px 20px;
  border: 1px white solid;
}
#twitterShare a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
}
#facebookShare a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
}
#twitterShare img {
  height: 30px;
  margin-right: 10px;
}
.page-heading {
  border: 3px solid white;
  width: max-content;
  position: relative;
  bottom: 10px;
  left: 2px;
  background-color: rgba(74, 69, 69, 1);
  padding-inline: 6px;
  padding-block: 4px;
}
.pageContent {
  display: flex;
  padding-inline: 40px;
  background-color: rgba(74, 69, 69, 1);
  gap: 20px;
}

.blog-page {
  display: flex;
  flex-direction: column;
}
.newBlog {
  border: 2px white solid;
  height: fit-content;
  padding-inline: 20px;
}
.main-blog-content {
  display: flex;
  flex-direction: column;
  color: white;
  /* gap: 15px; */
  margin-top: 20px;
  width: 70%;
}
.blog-content1 img {
  width: 100%;
  padding-block: 10px;
}
.blog-content1 {
  padding-block: 10px;
}
.full-blog-img {
  display: flex;
  justify-content: center;
}
.full-blog-img img {
  width: 80%;
}

#motivationalImage {
  width: 100%;
  display: flex;
  justify-content: center;
}
#motivationalImage img {
  width: 100%;
  /* margin-left: 20px; */
  margin-bottom: 50px;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.iconsblog {
  display: flex;

  height: 70px;
  margin-block: 20px;
  gap: 15px;
}
.iconsblog button {
  background-color: transparent;
  border: 0;
}
.iconsblog button img {
  height: 50px;
  cursor: pointer;
}
.popul-Tag {
  display: flex;
  gap: 5px;
}
.Tags h1 {
  color: white;
  font-size: 29px;
  font-weight: 700;
}
.popul-Tag .title-post {
  color: white;
  font-size: 15px;
  font-weight: 400;
  padding-inline: 6px;
  margin: 5px;
}
.title-post {
  border: 1px solid white;
  width: fit-content;
  padding: 1px;
}

.changePost {
  display: flex;
  border: 1px solid white;
  align-items: center;
  gap: 5%;
  padding-inline: 15px;
  margin-block: 15px;
}
.prev-Img img {
  width: 100px;
  padding-block: 5px;
  height: 100px;
  object-fit: cover;
}
.next-Img img {
  width: 100px;
  padding-top: 5px;
  height: 100px;
  object-fit: cover;
  padding-block: 5px;
}
.prev-Img {
  display: flex;
}
.next-Img {
  display: flex;
}
#prev-post {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5%;
}
#prev-post > img {
  display: flex;

  height: 5%;
}
#next-post > img {
  height: 5%;
}
#prev-post a {
  text-decoration: none;
  color: white;
}

#next-post {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 5%;
}
#next-post a {
  color: white;
  text-decoration: none;
}
.date {
  display: flex;
  justify-content: center;
}
#title-new-p {
  display: none;
}
#title-new-n {
  display: none;
}
@media (max-width: 990px) {
  .title-post-next {
    font-size: 12px;
  }
  .title-blog-prev {
    font-size: 12px;
    padding-block: 10px;
  }
  .popul-Tag {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .iconsblog {
    flex-direction: column;
  }
  .iconsblog button img {
    height: 30px;
  }
  .changePost {
    font-size: 15px;
  }
  #next-post {
    flex-direction: column;
  }
  #prev-post {
    flex-direction: column;
  }
}
@media (max-width: 660px) {
  #motivationalImage {
    display: flex;
    justify-content: center;
  }
  .pageContent {
    flex-direction: column;
  }
  .main-blog-content {
    width: 100%;
    gap: 0;
  }
  .blogheading h3 {
    font-size: 20px;
  }
  #searchbar {
    flex-direction: column;
  }
  #search {
    width: 90%;
  }
  #searchbar button {
    width: 50px;
    margin-top: 5px;
  }
  .shareButtons {
    /* height: 20px; */
    /* flex-direction: column; */
    gap: 10px;
    margin-inline: 5px;
  }
  #facebookShare img {
    height: 20px;
    border-radius: 20px;
  }
  #twitterShare img {
    height: 20px;
    border-radius: 20px;
  }
  .blogcontent {
    font-size: 10px;
  }
  .popularblogs {
    flex-direction: column;
  }
  .rightside {
    width: 100%;
  }
  .iconsblog {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
  }
  .popul-Tag {
    justify-content: center;
  }

  .Tags h1 {
    margin-bottom: 20px;
  }
  .changePost {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .date-author {
    flex-direction: column;
    gap: 2px;
  }
  #author-name img {
    padding: 2px 5px 2px 5px;
  }
  .shareButtons {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .changePost {
    margin-inline: 20px;
  }

  #twitterShare {
    justify-content: center;
  }
  .popul-Tag {
    display: flex;
    flex-direction: row;
  }
  #motivationalImage img {
    padding: 0;
    margin-inline: 0;
  }
  #motivationalImage {
    width: auto;
  }
  .pageContent {
    padding-inline: 5px;
  }
  .blogheading h3 {
    font-size: 15px;
    padding: 0;
    margin-inline: 20px;
  }
  .shareButtons {
    font-size: 15px;
    width: 90%;
    padding-left: 10px;
  }
  #facebookShare {
    justify-content: center;
  }
  #facebookShare a {
    font-size: 15px;
  }
  #twitterShare a {
    font-size: 15px;
  }
  .date-author {
    font-size: 15px;
  }
  .date-author img {
    height: 20px;
  }
  #author-name img {
    height: 20px;
  }
  .pageTag {
    flex-direction: column;
  }
  .next-Img {
    display: none;
  }
  .prev-Img {
    display: none;
  }
  .title-post-next {
    display: none;
  }
  .title-blog-prev {
    display: none;
  }
  #title-new-p {
    display: flex;
  }
  #title-new-n {
    display: flex;
  }
  #next-post {
    padding-block: 10px;
  }
  #prev-post {
    padding-block: 10px;
  }
}
