.blogpage-single {
  display: flex;
  flex-direction: column;
}

.blogheadingcontainer {
  display: flex;
  height: 50vh;
  background-image: url("../../public/assets/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: poppins;
  font-size: 30px;
  position: relative;
  border: 0;
}
.blogheading {
  display: flex;
  color: white;
  justify-content: center;
}
.blogheading h3 {
  padding-inline: 30px;
}
.shareButtons {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 40px;
}
#facebookShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding-right: 10px;
  border: 1px white solid;
}
#facebookShare img {
  height: 30px;
}
#twitterShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding-right: 10px;
  border: 1px white solid;
}
#twitterShare a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
#facebookShare a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
#twitterShare img {
  height: 30px;
}
.page-heading {
  border: 3px solid white;
  width: max-content;
  position: relative;
  bottom: 10px;
  left: 2px;
  background-color: rgba(74, 69, 69, 1);
}
.pageContent {
  display: flex;
  padding-inline: 10px;
  background-color: rgba(74, 69, 69, 1);
  gap: 20px;
  width: 100%;
}

.blog-page {
  display: flex;
  flex-direction: column;
}
.newBlog {
  border: 2px white solid;
  height: fit-content;
}
.main-blog-content {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 15px;
  margin-top: 20px;
  width: 60%;
}
.blog-content1 img {
  width: 100%;
}
.full-blog-img {
  display: flex;
  justify-content: center;
}
.full-blog-img img {
  width: 80%;
}

#motivationalImage img {
  height: 100%;
  width: 100%;
}
.changePost {
  display: flex;
  gap: 100px;
  background-color: rgba(74, 69, 69, 1);
  padding: 20px 0 20px 0;
  justify-content: center;
  border: 1px solid white;
  width: 100%;
}

.changePost a {
  display: flex;
  background-color: transparent;
  color: white;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
}
.changePost :hover {
  background-color: green;
}

.changepostcontainer {
  display: flex;
  background-color: rgba(74, 69, 69, 1);
  padding: 20px;
}
.rightside {
  display: flex;
  flex-direction: column;
  width: 40%;
}
#searchbar {
  display: flex;
  margin: 20px 0 20px 0;
}
#search {
  background-color: gray;
  padding: 10px;
  width: 60%;
  border: 0;
  color: white;
}
#searchbar button {
  background-color: rgb(118, 9, 9);
  color: white;
  border: 0px;
  padding: 2px;
  cursor: pointer;
  width: 30%;
}

.iconsblog {
  display: flex;
  gap: 0;
}
.iconsblog button {
  background-color: transparent;
  border: 0;
}
.iconsblog button img {
  height: 50px;
  cursor: pointer;
  padding-top: 50px;
  padding-inline: 10px;
}
.popul-Tag {
  display: flex;
  gap: 5px;
}
.Tags h1 {
  color: white;
  font-size: 29px;
  font-weight: 700;
}
.popul-Tag .title-post {
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.title-post {
  border: 1px solid white;
  width: fit-content;
  padding: 1px;
}
.next-Img img {
  width: 100%;
}
.next-Img a img {
  width: 100%;
}
.prev-Img img {
  width: 100%;
}
@media (max-width: 768px) {
  .iconsblog {
    flex-direction: column;
  }
  .iconsblog button img {
    height: 30px;
  }
}
@media (max-width: 660px) {
  .blogheading h3 {
    font-size: 20px;
  }
  #searchbar {
    flex-direction: column;
  }
  #search {
    width: 100%;
  }
  #searchbar button {
    width: 50px;
    margin-top: 5px;
  }
  .shareButtons {
    height: 20px;
    flex-direction: column;
    gap: 10px;
  }
  #facebookShare img {
    height: 20px;
    border-radius: 20px;
  }
  #twitterShare img {
    height: 20px;
    border-radius: 20px;
  }
  .blogcontent {
    font-size: 10px;
  }
}
