.Commentpage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(74, 69, 69, 1);
  margin-block: 20px;
}
.comments {
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  border: 2px solid white;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.comments h3 {
  padding-bottom: 20px;
  font-size: 29px;
}
.commentForm {
  display: flex;
  justify-content: center;
}
.commentForm form {
  width: 95%;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 20px;
}
#Name {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#pMail {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#name {
  border: 0;
  padding: 10px;
  background-color: rgb(234 228 228);
  color: white;
}

#personalMail {
  border: 0;
  padding: 10px;
  background-color: rgb(234 228 228);
  color: white;
}
/* #textcomment {
  padding: 50px;
} */
#personalUrl {
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 20px;
}
#weblink {
  background-color: rgb(234 228 228);
  padding-bottom: 20px;
  border: 0;
  color: white;
}
#textcomment {
  background-color: rgb(234 228 228);
  border: 0px;
  color: white;
  /* padding: 5px; */
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.Commentbutton button {
  color: white;
  background-color: transparent;
  border: 1px white solid;
  margin-bottom: 20px;
  cursor: pointer;
  padding-inline: 50px;
  padding-block: 10px;
  /* border-radius: 30px; */
  font-size: 20px;
}
.Commentbutton {
  display: flex;
  /* justify-content: center; */
}

.comment-status {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: #f6f6f6;
  text-align: center;
  margin-top: 10px;
  border: 1px solid #674e4e;
  border-radius: 5px;
  font-size: 16px;
}

.comment-status.success {
  background-color: #0dbb36;
  border-color: #c3e6cb;
  color: #155724;
}

.comment-status.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

@media (max-width: 1024px) {
  .comments {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .comments {
    width: 80%;
  }
  .details {
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 400px) {
  .details {
    gap: 5px;
  }
  #name {
    padding: 2px;
  }
  #personalMail {
    padding: 2px;
  }
  #weblink {
    padding: 2px;
  }
  #textcomment {
    padding: 5px;
  }
  .comments {
    width: 100%;
  }
  .Commentbutton button {
    font-size: 15px;
  }
}
@media (max-width: 290px) {
  .comments {
    width: 50%;
  }
}
