.Commentpage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(74, 69, 69, 1);
}
.comments {
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  border: 2px solid white;
  padding: 10px;
  width: 40%;
}
.comments h3 {
  padding-bottom: 20px;
}
.commentForm {
  display: flex;
  justify-content: center;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 20px;
}
#Name {
  display: flex;
  flex-direction: column;
}
#pMail {
  display: flex;
  flex-direction: column;
}
#name {
  border: 0;
  padding: 10px;
  background-color: rgb(206, 191, 191);
  color: white;
}

#personalMail {
  border: 0;
  padding: 10px;
  background-color: rgb(206, 191, 191);
  color: white;
}
/* #textcomment {
  padding: 50px;
} */
#personalUrl {
  display: flex;
  flex-direction: column;
  color: white;
}
#weblink {
  background-color: rgb(206, 191, 191);
  padding: 10px;
  border: 0;
  color: white;
}
#textcomment {
  background-color: rgb(206, 191, 191);
  border: 0px;
  color: white;
}
.Commentbutton button {
  color: white;
  background-color: transparent;
  border: 1px white solid;
  padding: 2px 5px 2px 5px;
  cursor: pointer;
}
.Commentbutton {
  display: flex;
  justify-content: center;
}
@media (max-width: 1024px) {
  .comments {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .comments {
    width: 80%;
  }
  .details {
    flex-direction: column;
  }
}
