.Commentpage {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(74, 69, 69, 1);
  margin-bottom: 20px;
}
.comments {
  display: flex;
  flex-direction: column;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  border: 2px solid white;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.comments h3 {
  padding-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
}
.commentForm {
  display: flex;
  justify-content: center;
}
.commentForm form {
  width: 95%;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 20px;
}
#Name {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
}
#Name label {
  font-family: Inter;
}
#pMail label {
  font-family: "Inter";
}
#pMail {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
}
#name {
  border: 0;
  padding: 10px;
  background-color: rgb(234 228 228);
  /* color: white; */
  outline: none !important;
}

#personalMail {
  border: 0;
  padding: 10px;
  background-color: rgb(234 228 228);
  /* color: white; */
  outline: none !important;
}
/* #textcomment {
  padding: 50px;
} */
#personalUrl {
  display: flex;
  flex-direction: column;
  /* color: white; */
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
#personalUrl label {
  font-family: "Inter";
}
#weblink {
  background-color: rgb(234 228 228);
  padding: 10px;
  border: 0;
  /* color: rgb(105, 0, 0); */
  padding-left: 10px;
  /* padding-top: 5px; */
  outline: none !important;
}
#textcomment {
  background-color: rgb(234 228 228);
  border: 0px;
  color: rgb(7, 6, 6);

  /* padding: 5px; */
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#text-msg {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
}
#text-msg label {
  font-family: Inter;
}
#text-msg-area {
  background-color: rgb(234 228 228);
  margin-bottom: 30px;
  padding: 5px 0 0 10px;
  outline: none !important;
}
.Commentbutton button {
  color: white;
  background-color: transparent;
  border: 1px white solid;
  margin-bottom: 20px;
  cursor: pointer;
  padding-inline: 50px;
  padding-block: 10px;
  /* border-radius: 30px; */
  font-size: 20px;
  cursor: pointer;
}
.Commentbutton button:hover {
  background-color: maroon;
}
.Commentbutton {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 50px;
}
.Commentbutton b {
  font-family: Inter;
  font-weight: 700;
}

.comment-status {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #0056b3;
  color: #f6f6f6;
  text-align: center;
  /* margin-top: 10px; */
  border: 1px solid #674e4e;
  border-radius: 5px;
  font-size: 20px;
}

.comment-status.success {
  background-color: #0dbb36;
  border-color: #c3e6cb;
  color: #155724;
}

.comment-status.error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

@media (max-width: 1024px) {
  .comments {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .details {
    flex-direction: column;
    gap: 5px;
  }
}
@media (max-width: 400px) {
  .details {
    gap: 5px;
  }
  #name {
    padding: 2px;
  }
  #personalMail {
    padding: 2px;
  }
  #weblink {
    padding: 2px;
  }
  #textcomment {
    padding: 5px;
  }
  .comments {
    width: 100%;
  }
  .Commentbutton button {
    font-size: 15px;
    padding-inline: 20px;
    padding-block: 10px;
  }
}
@media (max-width: 290px) {
  .comments {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .Commentpage {
    width: auto;
    margin-inline: 20px;
  }
  .comments h3 {
    font-size: 25px;
  }
  #text-msg-area {
    padding: 5px 0 0 4px;
  }
  #weblink {
    padding: 5px 0 5px 4px;
  }
  #personalMail {
    padding: 5px 0 5px 4px;
  }
  #name {
    padding: 5px 0 5px 4px;
  }
  #Name {
    padding-bottom: 15px;
  }

  .Commentbutton {
    flex-direction: column;
  }
  .comment-status {
    width: auto;
  }
}
