/* .main-contact {
  margin: 50px;
  position: relative;
  width: 50%;
}
#mainC {
  display: flex;
  justify-content: center;
  background-color: rgba(74, 69, 69, 1);
}
.contactHead {
  background-color: rgba(74, 69, 69, 1);
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contactHead h2 {
  display: flex;
  border: 1px white solid;
  justify-content: center;
  height: 40px;
  padding-top: 6px;
  padding-inline: 2px;
}
.contactpage {
  background-color: rgba(74, 69, 69, 1);
  color: white;
  border: 2px white solid;
  z-index: -1;
  padding-top: 50px;
}
.gmaps {
  display: flex;
  flex-direction: column;
  background-color: rgba(73, 69, 69, 1);
  justify-content: center;
  padding: 50px;
  width: 70%;
}
.gmaps h3 {
  display: flex;
  justify-content: center;
  color: white;
}
.google-map-code {
  display: flex;
  justify-content: center;
}
.google-map-code iframe {
  border: 2px rgb(254, 254, 254) solid;
  border-radius: 20px;
  margin: 20px;
}
.Sendbutton {
  padding-bottom: 20px;
}
#maps-C {
  display: flex;
  background-color: rgba(73, 69, 69, 1);
  justify-content: center;
}
@media (max-width: 768px) {
  .contactpage {
    border: 0;
  }
  .contactHead h2 {
    border: 0;
  }
}
@media (max-width: 500px) {
  .contactHead {
    width: 100%;
  }
  .contactHead h2 {
    font-size: 20px;
  }
}
@media (max-width: 350px) {
  .google-map-code iframe {
    width: 100%;
  }
  .main-contact {
    margin-bottom: 0px;
  }
} */
