#mainC {
  display: flex;
  justify-content: center;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  padding-block: 70px;
}
.main-contact {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#heading-contact {
  display: flex;
  justify-content: center;

  z-index: 2;
}
#heading-contact h1 {
  border: 2px solid white;
  width: fit-content;
  position: absolute;
  background-color: rgba(74, 69, 69, 1);
  padding: 5px 10px 5px 10px;
}
.form-c {
  border: 2px solid white;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  top: 25px;
  z-index: 1;
  padding-inline: 25px;
}
.maps-h h3 {
  font-size: 25px;
}
.fullName {
  padding: 50px 0px 20px 0px;
}
.Send-btn {
  display: flex;
  justify-content: center;
}
.Send-btn button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 70px 10px 70px;
  margin-block: 25px;
  border-radius: 20px;
}

.google-map-code {
  background-color: rgba(74, 69, 69, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  height: 100vh;
  padding-top: 100px;
}
.google-map-code iframe {
  width: 100%;

  height: 100%;
}
.maps-head {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  border: 2px solid white;
  position: absolute;
  z-index: 2;
  background-color: rgba(74, 69, 69, 1);
}
#maps {
  position: relative;
  top: 0px;

  border: 2px solid white;
  padding: 20px;
  z-index: 1;
  height: 80%;
  width: 72%;
  margin-top: 30px;
  padding-top: 50px;
}
@media (max-width: 450px) {
  .google-map-code iframe {
    margin-block: 10%;

    padding-inline: 0px !important;
    width: 100%;
  }
  #maps {
    width: 70%;
  }
}
