.inputForm {
  background-color: rgba(73, 69, 69, 1);
  color: white;
  font-family: poppins;
  height: 100%;
  padding-bottom: 2rem;
  font-size: 25px;
}

.inputForm h1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  font-size: 45px;
  font-weight: 700;
  font-family: Inter;
}

.form {
  display: flex;
  justify-content: center;
}
.form form {
  /* border: 1px solid white; */
  border-radius: 10px;
  padding: 2rem 5rem 0rem;
  width: 60%;
}
.form b {
  font-size: 34px;
  font-family: Inter;
  font-weight: 700;
}
.fullName {
  display: flex;

  gap: 20px;
  justify-content: center;
  font-size: large;
  /* margin: 10px 0px 20px 0px; */
  /* margin-bottom: 20px; */
}
#firstname {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 34px;
  font-family: "Inter";
  font-weight: 700;
}
#fname {
  border-radius: 10px;
  border: 0;
  padding-block: 15px;
  background: rgba(244, 241, 241, 0.6);

  padding-left: 10px;
  color: white;
}
#lname {
  border-radius: 10px;
  border: 0;
  padding-block: 15px;
  background: rgba(244, 241, 241, 0.6);

  padding-left: 10px;
  color: white;
}
#lastname {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 34px;
  font-family: "Inter";
  font-weight: 700;
}
#mail {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  font-weight: 700;
  font-size: 34px;
  font-family: Inter;
}
#textmsg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px 10px 0px;
  font-weight: 700;
  font-family: Inter;
  font-size: 34px;
}

#email {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background: rgba(244, 241, 241, 0.6);

  color: white;
  padding-block: 15px;
}

#message {
  background: rgba(244, 241, 241, 0.6);

  padding-left: 10px;
  border: 0;
  border-radius: 10px;
  color: white;
  padding-block: 5px;
}
.Sendbutton {
  display: flex;
  justify-content: center;
  margin: 25px;
}
.Sendbutton button {
  cursor: pointer;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 30px;
  color: white;
  padding: 10px 30px 10px 30px;
}
.Sendbutton :hover {
  background-color: rgba(164, 27, 27, 1);
}

@media (max-width: 670px) {
  .form form {
    padding: 2rem 2rem 0rem;
    width: 65%;
  }
}
@media (max-width: 535px) {
  .fullName {
    flex-direction: column;
  }
  .skillContainer {
    height: 100% !important;
  }
}
@media (max-width: 450px) {
  .form form {
    padding: 10px 30px 5px 20px;
    width: 80%;
  }
  #textmsg {
    font-size: 15px;
  }
  .fullName {
    gap: 10px;
    width: 100%;
  }
  .inputForm {
    /* font-size: 20px; */
    width: 100%;
    height: 100%;
  }

  .form {
    justify-content: center;
    height: 100%;
  }
  #fname {
    width: 100%;
    padding: 10px;
  }
  #lname {
    width: 100%;
    padding: 10px;
  }

  #email {
    width: 100%;
    padding: 10px;
  }
  #message {
    width: 100%;
    padding-inline: 10px;
  }
  .Sendbutton {
    margin-bottom: 20px;
  }

  .Sendbutton {
    margin: 5px;
  }
  .inputForm h1 {
    font-size: 30px;
  }
  .form b {
    font-size: 15px;
  }
  #mail {
    font-size: 15px;
  }
}
