.categories-section {
  text-align: center;
  margin: 1px;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  padding-block: 2rem;
}

.categories-section h2 {
  font-size: 45px;
  font-weight: 700;
}

.category-buttons {
  margin: 20px 0;
}

.selected {
  transition: all.3s ease;
  background-color: red !important;
}

.category-buttons button {
  padding: 10px 20px;
  margin: 5px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-buttons button:hover {
  background-color: #0056b3;
}

.category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.projectitle {
  font-size: 20px;

  color: white;
}

.image-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 10px;
  width: 100%;
  height: 100%;
}
.image-project img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.view-button button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.view-button button:hover {
  background-color: rgb(104, 7, 7);
}
@media (max-width: 520px) {
  .categories-section h2 {
    font-size: 30px;
  }
}
