.categories-section {
  text-align: center;
  padding-inline: 10%;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  padding-block: 2rem;
}

.categories-section h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "Inter";
}

.category-buttons {
  margin: 20px 0;
}

.selected {
  transition: all.3s ease;
  background-color: rgba(164, 27, 27, 1) !important;
  /* background-color: rgb(183, 30, 30); */
  border-radius: 40px !important;
}

.category-buttons button {
  border-radius: 40px !important;
  padding: 10px 20px;
  margin-block: 25px;
  margin-inline: 25px;
  background-color: transparent;
  color: #fff;
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
}

.category-buttons button:hover {
  background-color: rgb(185, 19, 19);
}

.category-cards {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* justify-content: center; */
  /* gap: 20px; */
}

.category-card {
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin: 10px;
  padding-inline: 5%;
  /* width: 250px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #5a5555;
}
.projectitle {
  font-size: 20px;

  color: white;
}

.image-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-block: 10px; */
  width: 100%;
  height: 100%;
}
.image-project img {
  width: 100%;
  padding-block: 10px;
  height: 100%;
  object-fit: cover;
}

.view-button button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.view-button button:hover {
  background-color: rgb(185, 19, 19);
}

@media (max-width: 1024px) {
  .category-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 520px) {
  .categories-section h2 {
    font-size: 30px;
  }
  .categories-section {
    padding-inline: 0;
  }
}
.carousel-container {
  display: none;
  margin-inline: 20px;
}

@media (max-width: 550px) {
  .category-buttons button {
    font-size: 15px;
    margin: 5px;
  }
  .carousel-container {
    display: block;
  }
  .view-button button {
    padding: 8px 15px 8px 15px;
    font-size: 15px;
  }
}
@media (max-width: 550px) {
  .category-cards {
    display: none;
  }
  .category-card {
    padding-inline: 0;
    width: 200px;
  }
  .projectitle {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
