* {
  margin: 0;
  padding: 0;
}
.headingcontainer {
  border: 0;
  display: flex;
  height: 50vh;
  background-image: url("../../public/assets/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: poppins;
  font-size: 25px;
}
.headings {
  color: white;
  padding-left: 10%;
}
.headings h1 {
  font-size: 47px;
  font-weight: 700;
}
.headings h3 {
  font-size: 30px;
  font-weight: 700;
}
#profilebutton {
  margin-top: 20px;
}
#profilebutton a {
  text-decoration: none;
  background-color: transparent;
  color: white;
  border: 1px white solid;
  border-radius: 30px;
  padding: 10px;
  cursor: pointer;
  font-size: 29px;
}
@media (max-width: 968px) {
  .headingcontainer {
    font-size: large;
  }
}
@media (max-width: 570px) {
  .headings h1 {
    font-size: 20px;
  }
  .headings h3 {
    font-size: 15px;
  }

  #profilebutton a {
    padding: 3px 5px 3px 5px;
    font-size: 14px;
  }
}
