* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.Container {
  background-color: rgba(73, 69, 69, 1);
  color: white;
  padding-bottom: 2rem;
  padding-inline: 10%;
}

#head {
  display: flex;
  justify-content: center;
  padding: 20px 0px 30px 0px;
  font-size: 45px;
  font-weight: 700;
  font-family: Inter;
}

.aboutContainer {
  display: flex;
  gap: 70px;
}
.profilepic {
  display: flex;
  /* padding-left: 70px; */
  height: 50%;
  width: 50%;
  padding-bottom: 30px;
}

.profilepic img {
  height: 80%;

  margin-top: 20px;
  aspect-ratio: 2.7/3;
  object-fit: cover;

  border-radius: 20px !important;
}
.aboutme {
  font-size: 25px;
}
.aboutme h1 {
  font-size: 45px;
  font-weight: 700;
  font-family: Inter;
  margin: 10px 0px 10px 0px;
}
.aboutme p {
  font-family: poppins;
  font-size: 26px;
  font-weight: 400;
}

#btn {
  background-color: transparent;
  color: white;
  border: 3px white solid;
  font-size: 25px;
  font-weight: 800;
  font-family: Inter;
  border-radius: 50px;
  padding: 15px 20px 15px 20px;
  margin: 20px 0px 20px 0px;

  cursor: pointer;
}
#btn:hover {
  background-color: rgba(164, 27, 27, 1);
}
.icons {
  display: flex;

  height: 15%;
  gap: 30px;
  margin: 20px 0px 20px 0px;
}
.icons button {
  background-color: transparent;
  border: 0;
}
.icons button img {
  /* height: 50px; */
  cursor: pointer;
}

@media (max-width: 968px) {
  .Container {
    font-size: x-small;
    height: 50%;
  }
  .aboutContainer {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profilepic {
    display: flex;
    height: 0vh;
  }
  .profilepic img {
    display: flex;
    justify-content: center;
    /* height: 50vh; */
    height: 100%;
    width: 100%;
  }
  .aboutme {
    padding: 0%;
    font-size: small;
  }
}
@media (max-width: 575px) {
  .aboutme h1 {
    font-size: 20px;
  }
  .aboutme p {
    font-size: 15px;
  }
  #head {
    padding-block: 10px;
    font-size: 30px;
    margin-top: 25px;
  }
  .profilepic {
    display: flex;
  }
  .icons button img {
    height: 50px;
  }
  .Container {
    padding: 0;
    /* background-color: rgba(73, 69, 69, 1); */
  }
  .aboutContainer {
    margin-inline: 20px;
    padding: 0;
    gap: 20px;
  }
  #btn {
    padding: 8px 15px 8px 15px;
    font-size: 15px;
    border: 2px solid;
  }
  .icons {
    height: 30px;
    margin-bottom: 30px;
  }
  .icons button img {
    height: 30px;
  }
}
@media (max-width: 1024px) {
  .Container {
    display: flex;
    flex-direction: column;
  }
  .aboutContainer {
    justify-content: center;
    /* flex-direction: column; */
  }
  .profilepic {
    height: 100%;
    width: 100%;
  }
}
