* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}
.Container {
  background-color: rgba(73, 69, 69, 1);
  color: white;
  padding-bottom: 2rem;
}

#head {
  display: flex;
  justify-content: center;
  padding: 20px 0px 30px 0px;
  font-size: 45px;
}

.aboutContainer {
  display: flex;
  gap: 70px;
  padding-right: 70px;
}
.profilepic {
  display: flex;
  padding-left: 70px;
}

.profilepic img {
  height: 50vh;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  border-radius: 20px;
}
.aboutme {
  font-size: 25px;
}
.aboutme h1 {
  font-size: 45px;
  font-weight: 700;
}
.aboutme p {
  font-size: 26px;
  font-weight: 400;
}

#btn {
  background-color: transparent;
  color: white;
  border: 1px white solid;
  font-size: 25px;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  font-weight: 800;
}

.icons {
  display: flex;
  gap: 0;
}
.icons button {
  background-color: transparent;
  border: 0;
}
.icons button img {
  height: 50px;
  cursor: pointer;
  padding-top: 50px;
  padding-inline: 10px;
}

@media (max-width: 968px) {
  .Container {
    font-size: x-small;
    height: 50%;
  }
  .aboutContainer {
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profilepic {
    height: 50vh;
    padding-left: 0px;
  }
  .profilepic img {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
  }
  .aboutme {
    padding: 0%;
    font-size: small;
  }
}
