.cate-Container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-image {
  display: flex;
  justify-content: center;
}
.card-image img {
  display: flex;
  width: 100px;
  justify-content: center;
}
.card-body {
  display: flex;
}
