* {
  margin: 0;
  padding: 0;
}
.inputForm {
  background-color: rgba(73, 69, 69, 1);
  color: white;
  font-family: poppins;
  height: 70vh;
  padding-bottom: 80px;
}
.inputForm h1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.form {
  display: flex;
  justify-content: center;
}
.fullName {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-size: large;
}
#firstname {
  display: flex;
  flex-direction: column;
}
#lastname {
  display: flex;
  flex-direction: column;
}
#fname {
  background-color: gray;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
}
#lname {
  background-color: gray;
  border: 0px;
  border-radius: 10px;
  padding: 10px;
}
#mail {
  display: flex;
  flex-direction: column;
  padding: 15px 0px 10px 0px;
}
#textmsg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0px 10px 0px;
}

#email {
  padding: 10px;
  border: 0;
  border-radius: 10px;
  background-color: gray;
}
#message {
  padding: 60px;
  background-color: gray;
  border: 0;
  border-radius: 10px;
}
.Sendbutton {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.Sendbutton button {
  background-color: transparent;
  border: 1px white solid;
  border-radius: 25px;
  color: white;
  padding: 10px 30px 10px 30px;
}

.gmaps {
  display: flex;
  flex-direction: column;
  background-color: rgba(73, 69, 69, 1);
}
.gmaps h3 {
  display: flex;
  justify-content: center;
  color: white;
}

@media (max-width: 425px) {
  .fullName {
    gap: 10px;
  }
  .inputForm {
    width: 100%;
  }
  .form {
    justify-content: center;
    height: 50vh;
  }

  #message {
    padding: 50px;
  }
  #fname {
    width: 100px;
    padding: 5px;
  }
  #lname {
    width: 100px;
    padding: 5px;
  }
  #fname {
    width: 100px;
    padding: 5px;
  }
  .Sendbutton {
    margin-bottom: 20px;
  }
  .inputForm h1 {
    font-size: larger;
    color: rgb(22, 183, 70);
  }
}
