.footer {
  color: white;
  background-color: rgb(49, 44, 44);
  font-size: 15px;
}
.footer-blog p {
  margin-block: 10px;
  width: 60%;
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
}
.footer-blog {
  margin-block: 20px;
  padding-left: 2rem;
}
.footer-blog h3 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter";
}
.footerabout {
  display: flex;
  padding-inline: 10px;
}
.links {
  font-weight: 400;
  font-size: 18px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}
.links a {
  text-decoration: none;
  font-family: Inter;
  color: rgb(249, 249, 252);
}
#end p {
  display: flex;
  justify-content: center;
  font-size: 21px;
  font-weight: 700;
  font-family: "Inter";
}
#end {
  padding: 20px;
}
.others {
  width: 30%;
  margin-block: 20px;
  margin-right: 20px;
}
.others h3 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Inter";
  padding-bottom: 15px;
}
@media (max-width: 520px) {
  .footer-blog p {
    width: 100%;
  }
  .footer-blog {
    padding: 0;
  }
  #end p {
    font-size: 15px;
    text-align: center;
    color: rgb(42, 210, 16);
  }
  .footerabout {
    flex-direction: column;
    padding: 0;
    margin-inline: 20px;
  }
  .others {
    width: 100%;
  }
  .others h3 {
    font-weight: 400;
  }
  .links {
    flex-direction: row;
    gap: 5%;
  }
  #end {
    padding: 0;
    padding-bottom: 20px;
  }
}
