.footer {
  color: white;
  background-color: rgb(49, 44, 44);
  font-size: 14px;
}
.footer-blog p {
  margin-block: 10px;
}
.footerabout {
  display: flex;
  padding-inline: 10px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a {
  text-decoration: none;
  color: rgb(100, 105, 239);
}
#end p {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  #end p {
    font-size: 15px;
    text-align: center;
    color: rgb(42, 210, 16);
  }
  .footerabout {
    flex-direction: column;
  }
  .others {
    padding: 5px;
  }
}
