.footer {
  color: white;
  background-color: rgb(49, 44, 44);
  font-size: 14px;
}
.footer-blog p {
  margin-block: 10px;
}
.footerabout {
  display: flex;
  padding-inline: 10px;
}
.links {
  display: flex;
  flex-direction: column;
}
.links a {
  text-decoration: none;
  color: rgb(86, 210, 144);
}
#end p {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  #end p {
    font-size: 10px;
    text-align: center;
    color: chartreuse;
  }
}
