@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
.headbuttons {
  background-color: rgba(73, 69, 69, 1);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
}
#buttons {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 25px;
}

#buttons a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: 0px;
  font-family: poppins;
}
#hireme {
  background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2em;
  padding-right: 2em;
  margin-right: 4em;
  margin-left: 4em;
  transform: skewX(-30deg);
}
#hireme button {
  font-size: 25px;
  background-color: transparent;
  color: white;
  border: 0em;
  font-family: poppins;
  transform: skewx(30deg);
  cursor: pointer;
}

#menu-toggle {
  display: none;
  background-color: rgba(73, 69, 69, 1);
  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
}
.menu nav {
  padding-block: 5px;
}

.menu nav a {
  text-decoration: none;
  color: white;
}

.menu nav a:hover {
  color: red;
}
@media (max-width: 520px) {
  .menu nav {
    background-color: rgba(73, 69, 69, 1);
    z-index: 5;
  }
  .headbuttons {
    flex-direction: column;
    width: auto;
    height: fit-content;
    align-items: flex-start;
    padding: 20px;
    background-color: transparent;
  }
  #menu-toggle {
    display: flex;

    cursor: pointer;
    justify-content: space-between;
    /* padding-left: 20px; */
    height: 100%;
  }
  #menu-toggle img {
    height: 30px;
    margin-block: 10px;
  }
  #buttons {
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
    gap: 20px;
  }

  .menu.hidden {
    display: none;
  }
  .menu.visible {
    width: 100%;
  }
  #hireme button {
    font-size: 15px;
  }

  .hire {
    transform: skewX(-30deg);
    background-color: red;
    padding: 5px 10px 5px 10px;
    margin-block: 10px;
    display: flex;
    align-items: center;
  }
  .hire button {
    color: white;
    background-color: red;
    border: 0;
    transform: skewX(30deg);
  }
  #hireme {
    display: none;
  }
  .header #menu-toggle {
    height: 50px;
    background-color: rgba(73, 69, 69, 1);
    padding-inline: 20px;
  }
}

@media (max-width: 968px) {
  .headbuttons {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  #hireme {
    margin-right: 0;
  }
}

#homebtn a.active {
  padding-inline: 8px !important;
  color: red;
}

#contactbtn a.active {
  color: red;
  padding-inline: 8px !important;
}
#blogs-btn a.active {
  color: red;
  padding-inline: 8px !important;
}
#hirebtn a.active {
  background-color: red;
  padding-inline: 8px !important;
}
