.blogheadingcontainer {
  display: flex;
  height: 50vh;
  background-image: url("../../public/assets/banner-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  font-family: poppins;
  font-size: 30px;
  position: relative;
  border: 0;
}
.blogheading {
  display: flex;
  color: white;
  justify-content: center;
}
.blogheading h3 {
  padding-inline: 30px;
}
.shareButtons {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  gap: 30px;
  position: absolute;
  bottom: 40px;
}
#facebookShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding-right: 10px;
  border: 1px white solid;
}
#facebookShare img {
  height: 30px;
}
#twitterShare {
  display: flex;
  align-items: center;
  color: white;
  background-color: transparent;
  gap: 10px;
  padding-right: 10px;
  border: 1px white solid;
}
#twitterShare img {
  height: 30px;
}

.pageContent {
  display: flex;
  background-color: rgba(74, 69, 69, 1);
  color: white;
  padding-inline: 20px;
  gap: 20px;
}
.blogcontent {
  border: 2px white solid;
  width: 100%;
}
#motivationalImage img {
  height: 100%;
  width: 100%;
}
.changePost {
  display: flex;
  gap: 100px;
  background-color: rgba(74, 69, 69, 1);
  padding: 20px;
  justify-content: center;
  border: 1px solid white;
  width: 70vw;
}

.changePost button {
  display: flex;
  background-color: transparent;
  color: white;
  border: 0px;
}
.changepostcontainer {
  display: flex;
  background-color: rgba(74, 69, 69, 1);
  padding: 20px;
}
.rightside {
  display: flex;
  flex-direction: column;
  width: 30%;
}
#searchbar {
  display: flex;
  margin: 20px 0 20px 0;
}
#search {
  background-color: gray;
  width: 80%;
  border: 0;
  color: white;
}
#searchbar button {
  background-color: rgb(118, 9, 9);
  color: white;
  border: 0px;
  padding: 2px;
}
.iconsblog {
  display: flex;
  gap: 0;
}
.iconsblog button {
  background-color: transparent;
  border: 0;
}
.iconsblog button img {
  height: 50px;
  cursor: pointer;
  padding-top: 50px;
  padding-inline: 10px;
}
@media (max-width: 768px) {
  .iconsblog {
    flex-direction: column;
  }
  .iconsblog button img {
    height: 30px;
  }
}
@media (max-width: 660px) {
  .blogheading h3 {
    font-size: 20px;
  }
  #searchbar {
    flex-direction: column;
  }
  #search {
    width: 100%;
  }
  #searchbar button {
    width: 50px;
    margin-top: 5px;
  }
  .shareButtons {
    height: 20px;
    flex-direction: column;
    gap: 10px;
  }
  #facebookShare img {
    height: 20px;
    border-radius: 20px;
  }
  #twitterShare img {
    height: 20px;
    border-radius: 20px;
  }
  .blogcontent {
    font-size: 10px;
  }
}
